{{ template "base" . }}
{{ define "title" }}Contact Us{{ end }}
{{ define "main" }}
    <h2>Contact Us</h2>
    <p>Feel free to reach out to us through the following channels:</p>
    <ul>
        <li>Email: <a href="mailto:info@astanait.edu.kz"> Astanait.edu.kz</a></li>
        <li>Phone: +7 (7172) 645-710</li>
</ul>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3318.0241068482724!2d71.42134223387244!3d51.09199458921768!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sru!2skz!4v1705256945527!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{{ end }}